@import "tailwindcss";

@keyframes pulseBlob {
  0%   { transform: scale(1) translate(0, 0); opacity: 0.8; }
  100% { transform: scale(1.18) translate(10px, -10px); opacity: 1; }
}

@keyframes floatDot {
  0%   { transform: translateY(0px); }
  100% { transform: translateY(-10px); }
}

